@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500;600&family=Spectral:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Proxima+Nova');

.swiper-pagination {
  position: static !important;
  text-align: left !important;
  padding-left: 9.5rem;
  margin-top: 2.7rem;
}

.swiper-pagination-bullet {
  background-color: #5BC1ED !important;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


@media screen and (max-width: 1200px) {
  .swiper-slide {
    max-width: 300px !important;
  }

  /* .swiper-slide p {
    font-size: 16px !important;
  } */

  .swiper-container .swiper-pagination {
    bottom: -30px !important;
  }
}

@media screen and (max-width: 1100px) {
  .custom-next {
    width: 2.75375rem !important;
    height: 2.75375rem !important;
    right: -40px !important;
  }

  .custom-prev {
    width: 2.75375rem !important;
    height: 2.75375rem !important;
  }

  .custom-prev,
  .custom-next {
    width: 3.75375rem !important;
    height: 3.75375rem !important;
    top: -80px !important;
  }
}

@media screen and (max-width: 992px) {
  .swiper-slide p {
    font-size: 0.8rem !important;
  }

  .swiper-pagination {
    position: static !important;
    text-align: center !important;
    padding-left: 0 !important;
    margin-top: 2rem;
  }

  .swiper-slide img {
    width: 100%;
    height: 100%;
  }

  .custom-prev,
  .custom-next {
    width: 3.75375rem !important;
    height: 3.75375rem !important;
    top: -80px !important;
  }
  
}

@media screen and (max-width: 640px) {
  .css-vy92a0 {
    width: 18rem !important;
  }

  .swiper-pagination {
    position: static !important;
    text-align: center !important;
    padding-left: 0 !important;
    margin-top: 2rem;
  }

  .swiper-slide img {
    width: 100%;
  }

  .custom-prev,
  .custom-next {
    width: 3.75375rem !important;
    height: 3.75375rem !important;
    top: -80px !important;
  }

  .swiper-slide p {
    font-size: 0.75rem !important;
  }
}