@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500;600&family=Spectral:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Proxima+Nova');

.swiper-pagination {
  position: static !important;
  text-align: left !important;
  padding-left: 9.5rem;
  margin-top: 2rem;
}

.swiper-pagination-bullet {
  background-color: #5BC1ED !important;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}


@media screen and (max-width: 1200px) {
  .swiper-slide {
    max-width: 300px !important;
  }


}

@media screen and (max-width: 1100px) {
  .custom-next {
    right: -35px !important;
  }
  .custom-prev,
  .custom-next {
    width: 3.75375rem !important;
    height: 3.75375rem !important;
    top: -80px !important;
  }
}

@media screen and (max-width: 992px) {

  .swiper-pagination {
    position: static !important;
    text-align: center !important;
    padding-left: 0 !important;
    margin-top: 2rem;
  }


  .custom-prev,
  .custom-next {
    width: 3rem !important;
    height: 3rem !important;
  }

}

@media screen and (max-width: 640px) {
  .css-vy92a0 {
    width: 18rem !important;
  }
 
}

@media screen and (max-width:480px) { 
  .swiper-pagination {
    margin-top: 1rem;
  }
}