@import url('https://fonts.googleapis.com/css?family=Proxima+Nova');

.swiper-pagination {
  position: static !important;
  text-align: left !important;
  padding-left: 9.5rem;
  margin-top: 2rem;
}

.swiper-container .swiper-button-prev {
  left: -40px !important;
}

.swiper-container .swiper-button-next {
  right: -40px !important;
}

.swiper-container .swiper-pagination {
  bottom: -30px !important;
}

@media only screen and (max-width: 992px) {
  .swiper-slide {
    width: 100%!important;
  }
} 
/* 
.swiper-button-prev,
.swiper-button-next {
  background-color: #EEF7FB;
  width: 3.75375rem !important;
  height: 3.75375rem !important;
  border-radius: 1.87688rem;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 16px !important;
  color: #1C2635 !important;
} */

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */